.mat-card {
    margin: 20px;
    height: 50%;
}

.mat-card-header-text {
    width: 100%;
}
.mat-card-title {
    display: flex;
    justify-content: center;
}

.mat-form-field-underline {
    display: none;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border: 2px solid black;
}

.mat-button-toggle-checked {
    &.answer {
        border: 2px solid #0d7bab !important;
        color: #0d7bab;
        background-color: whitesmoke;
        &.correct-answer {
            border: 2px solid #33c933 !important;
            color: #33c933;
        }
        &.incorrect-answer {
            border: 2px solid #fb4343 !important;
            color: #fb4343;
        }
    }
}
.mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.mat-step-icon-content {
    mat-icon {
        display: none;
    }
    span {
        display: none;
    }
}
:not(.mat-button-disabled) {
    &.btn {
        &:hover {
            background-color: #f68034;
        }
    }
}
.mat-stepper-horizontal-line {
    display: none;
}
.mat-horizontal-stepper-header-container {
    justify-content: center;
}
.mat-stepper-horizontal {
    display: flex !important;
    flex-direction: column-reverse;
}
.mat-step-header {
    &.mat-horizontal-stepper-header {
        padding: 0;
    }
    .mat-step-icon {
        height: 14px;
        width: 14px;
    }
}
