.main {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0 20px;
    width: 30%;
    max-width: 300px;
    * {
        margin-bottom: 10px;
    }
    input {
        height: 30px;
        width: 182px;
        padding: 0 7px;
        border-radius: 6px;
        border: 1px solid black;
    }
}

button {
    background-color: #3f51b5;
    width: 200px;
    color: #fff;
}

.mat-button-disabled {
    opacity: 0.4;
}

.pagination {
    height: 40px;
    width: 40px;
    font-size: 18px;
}

.history {
    margin: 70px 0;
    height: 50px;
    width: 200px;
}
.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
        margin: 10px 20px;
    }
    span {
        height: 18px;
    }
}

.gif-list {
    width: 70%;
}

.img-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
