form {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: roboto;
    background-color: hsla(0, 0%, 94.5%, 0.2);
    border: 0.5px solid #dbdbdb;
    border-radius: 5px;
    color: #444;
    padding: 20px 40px;
}

@font-face {
    font-family: roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf") format("opentype");
}
