.form {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: auto;
}

input {
    margin: 10px 0;
    height: 25px;
    border: 1px solid #557fce;
    border-radius: 3px;
}
.hint {
    opacity: 0.7;
}

.submit-btn {
    display: flex;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
}
