.details {
    padding: 10px;
}

.detail-item {
    display: flex;
    flex-direction: row;
}

.title {
    font-weight: 700;
    margin-right: 5px;
    min-width: 120px;
}

.arist {
    display: flex;
    flex-direction: column;
}

.images {
    margin: 10px 0;
}
