<div *ngIf="album" class="details">
    <div class="detail-item">
        <div class="title">Album Name:</div>
        {{album.name}}
    </div>
    <div *ngIf="album.release_date" class="detail-item">
        <div class="title">Release Date:</div>
        {{album.release_date}}
    </div>

    <!-- ********** not required ********** -->
    <div *ngIf="album.artists.length" class="arists detail-item">
        <div class="title">Artists Names: </div>
        <div>
            <span *ngFor="let artist of album.artists" class="arist">{{artist.name}}</span>
        </div>
    </div>
    <!-- ********** not required ********** -->
    
    <div *ngIf="album.images.length" class="images">
        <div>
            <img [src]="album.images[0].url" alt="">
        </div>
    </div>
</div>